#SearchBox-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: larger;
  outline: none !important;
  border: none !important ;
  color: #023e8a;
  margin-left: auto;
}
.SearchBox-input-label {
  color: #023e8a;
  font-size: 1.3rem !important;
}
#SearchBox-input::placeholder {
  color: #023e8a;
  opacity: 1;
}

#SearchBox-input:-ms-input-placeholder {
  color: #023e8a;
}

#SearchBox-input::-ms-input-placeholder {
  color: #023e8a;
}
