.Weather {
  color: #1a535c;
}
.Weather-icon {
  width: 23%;
}
.Weather-notification {
  margin-top: 10% !important;
  font-size: larger !important;
}
.Weather-data {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  font-weight: 900;
}

::selection {
  color: #1a535c;
  background: #ffe66d ;
  opacity: 0.5;
}
